pc-form-field-size {
    @import "./../../../../../public/stylesheets/variables.scss";

    .input-tip {
        display: flex;
        flex-direction: row;

        .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        input {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        .btn-ignite {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            flex: 0 0 auto;
            width: 60px !important;
            line-height: initial !important;
        }
    }

    &.ng-invalid:not(.ng-pristine),
    &.ng-invalid.ng-touched {
        input, .btn-ignite {
            border-color: $ignite-brand-primary !important;
            box-shadow: inset 0 1px 3px 0 rgba($ignite-brand-primary, .5) !important;
        }
    }
}