/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

page-configure-basic {
    display: block;
    padding: 30px;
    $max-row-width: 500px;
    $row-height: 28px;

    .details-row, .settings-row {
        // max-width: $max-row-width;

        // &>label:only-child {
        //     padding-top: 5px;
        // }

        .checkbox {
            margin-top: 4px;
            margin-bottom: 0;
        }
    }

    .pcb-cache-name-row {
        $margin: 10px;

        display: flex;
        flex-direction: row;
        max-width: 100%;

        .ignite-form-field {
            margin-right: $margin;
            max-width: $max-row-width;
            flex-grow: 10;
        }

        .pcb-cache-remove {
            line-height: $row-height;
            margin-right: $margin;
            flex: 1 0;
            text-align: right;
            white-space: nowrap;
        }
    }

    .pcb-buttons-group {
        display: flex;
        flex-direction: row;

        &>*+* {
            margin-left: 10px;
        }

        .link-primary + .link-primary {
            margin-left: 40px;
        }
    }

    // .pcb-form-flex-grid {
    //     $column: 450px;

    //     &,
    //     &>div:not(.details-row):not(.settings-row):not(.pcb-flex-grid-break) {
    //         display: flex;
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //     }

    //     .details-row, .settings-row, .pcb-flex-grid-break {
    //         margin: 0 10px 10px 0 !important;
    //         flex: 1 1 $column;
    //     }

    //     .pcb-flex-grid-break {
    //         height: 0;
    //     }
    // }

    .pcb-select-existing-cache {
        position: relative;

        button {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            outline: none !important;
        }
    }

    .pcb-section-notification {
        font-size: 14px;
        color: #757575;
        margin-bottom: 1em;
    }

    .pcb-section-header {
        margin-top: 0;
        margin-bottom: 7px;
        font-size: 16px;
        line-height: 19px;
    }

    .pcb-memory-size {
        .input-tip {
            display: flex;
            flex-direction: row;

            .form-control {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .btn-ignite {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding-top: 0;
                padding-bottom: 0;
                flex: 0 0 auto;
                width: 60px !important;
            }
        }
    }

    .pcb-form-field-size {
        .form-field-feedback {
            left: -63px;
        }
    }

    .pcb-caches {
        .panel-details {
            padding-left: 10px;
        }
    }
    .pcb-form-main-buttons {
        display: flex;
        flex-direction: row;
        .pcb-form-main-buttons-left {
            margin-right: auto;
        }
        .pcb-form-main-buttons-right {
            margin-left: auto;
        }
    }
    .pc-form-actions-panel {
        margin: 20px -30px -30px;
        box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2);
    }

    .pc-form-grid-row {
        &>.pc-form-grid-col-20 {
            flex: 0 0 calc(100% / 6);
        }

        &>.pc-form-grid-col-30 {
            flex: 0 0 calc(100% / 4);
        }

        &>.pc-form-grid-col-40 {
            flex: 0 0 calc(100% / 3);
        }

        &>.pc-form-grid-col-60 {
            flex: 0 0 calc(100% / 2);
        }

        @media(max-width: 992px) {
            &>.pc-form-grid-col-20 {
                flex: 0 0 calc(100% / 3);
            }

            &>.pc-form-grid-col-30 {
                flex: 0 0 calc(100% / 2);
            }

            &>.pc-form-grid-col-60 {
                flex: 0 0 calc(100% / 1);
            }
        }
    }
}