/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

page-configure {
    font-family: Roboto;

    .pc-form-actions-panel {
        display: flex;
        flex-direction: row;
        padding: 10px 30px;
        box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0px 3px 4px -1px rgba(0, 0, 0, 0.2);
        position: sticky;
        bottom: 0px;
        // margin: 20px -30px -30px;
        background: white;
        border-radius: 0 0 4px 4px;
        z-index: 999;

        &>*+* {
            margin-left: 10px;
        }

        .link-primary + .link-primary {
            margin-left: 40px;
        }

        .pc-form-actions-panel__right-after {
            width: 0;
            margin-left: auto;
        }
    }

    .pc-hide-tooltips {
        .tipField:not(.fa-remove), .icon-help, [ignite-icon='info'] {
            display: none;
        }
    }

    .pc-content-container {
        position: relative;

        .pc-tooltips-toggle {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .pc-tooltips-toggle {
        display: inline-flex;
        height: 40px;
        align-items: center;
        width: auto;
        max-width: initial !important;
        user-select: none;

        &>*:not(input) {
            margin-left: 5px;
            flex: 0 0 auto;
        }

        input {
            pointer-events: none;
        }

        &>div {
            margin-left: 10px !important;
        }
    }

    .pc-form-grid-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // align-items: baseline;

        &>.pc-form-grid-col-20,
        &>.pc-form-grid-col-30,
        &>.pc-form-grid-col-60 {
            margin: 10px 0 0 !important;
            max-width: initial;
            padding: 0 10px;
        }

        .group-section {
            width: 100%;
        }

        &>.pc-form-grid__break {
            flex: 1 0 100%;
        }
    }
    .pc-form-group {
        $input-height: 36px;
        width: 100%;
        border: 1px solid rgba(197, 197, 197, 0.5);
        border-radius: 4px;
        padding-bottom: 10px;
        padding-top: $input-height / 2;
        margin-top: $input-height / -2;

        &:empty {
            display: none;
        }
    }
    .pc-form-grid__text-only-item {
        padding-top: 16px;
        align-self: flex-start;
        height: 54px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        background: white;
        z-index: 2;
    }
}
.pc-page-header {
    font-family: Roboto;
    font-size: 24px;
    line-height: 36px;
    color: #393939;
    margin: 40px 0 30px;
    padding: 0;
    border: none;

    version-picker {
        margin-left: 8px;
        vertical-align: 2px;
    }
}

